# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Spyder settings
.spyproject
.spyderproject

# Private data
data_private/
api.py

# Microsoft office temporary files
~$*
*.tmp

# Residuals
__pycache__
.pyc

# Dev output folders
output

# Mac trash
.DS_Store
